* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ** Header Area Start ** */

header img {
    width: 55px;
}


.sign-in-btns {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: ease-in;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: #eaeaea;
}


.sign-in-btns:hover {
    background-color: #72bba2;
    color: #fff;
}


/* ** Header Area End ** */

.main-text {
    width: 75%;
    padding: 3rem;
    background-color: #198754;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 470px) {
    header img {
        width: 55px;
    }

    .sign-in-btns {
        width: 80px;
        height: 35px;
        font-size: 20px;
    }

    .main-container {
        width: 100%;
        height: 100vh;
        background-color: #198754;
        margin-top: 0 !important;
    }

    .main-text {
        width: 70%;
        margin: auto;
        background-color: #fff;
        padding: 1rem;
        color: #000;
    }

}