* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ** Header Area Start ** */

header img {
    width: 55px;
}


.log-out-btns {
    width: 55px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: ease-in;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: #eaeaea;
}


.log-out-btns:hover {
    background-color: #72bba2;
    color: #fff;
}


/* ** Header Area End ** */

/* ** Board area start ** */

.board-container {
    width: 100%;
    min-height: 90vh;
    padding: 15px;
    flex-wrap: wrap;
    background-color: #eaeaea;
}

.boxes {

    border-radius: 8px;
    width: 420px;
    min-height: 300px;
    background-color: #fff;
    position: relative;

}

.boxes h1 {
    text-align: center;
    font-size: 33px;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.box-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #198754;
    color: #fff;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.box-btn:hover {
    background-color: #99ea9e;
    color: #000;
}

#list {
    width: 100%;
    margin-left: 0;
    margin-bottom: 46px;
   
}

.task-li {
    width: 90%;
    background-color: #eaeaea;
    list-style: none;
    padding: 15px;
    color: #000;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    
}

.task-li button{
    width: 100%;
    border: none;
    padding: 5px 8px;
    background-color: #27b974;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
}

.task-li button:hover{
    background-color: #239f65;
}