* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ** Header Area Start ** */

header img {
    width: 55px;
}


.sign-in-btns {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: ease-in;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: #eaeaea;
}


.sign-in-btns:hover {
    background-color: #72bba2;
    color: #fff;
}


/* ** Header Area End ** */

/* ** Form section start ** */
.login-container{
    width: 100%;
    margin-top: 3rem;
}
.login-form {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    background-color: #198754;
    color: #fff;
    padding: 25px;
}

.login-form label {
    display: block;
    font-size: 1.4rem;

}

.login-form input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 10px;
}

.loginBtn {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 15px;
    background-color: #fff;
    font-size: 1.2rem;
}


.loginBtn:hover {
    background-color: #72bba2;
    color: #fff;
    transition: ease-in-out;
    transition-duration: 0.4s;
}

/* ** Form section end ** */


/* Responsive Design */
@media (max-width: 768px) {
    
   
    header img {
        width: 55px;
    }

    .log-in-btns {
        width: 80px; 
        height: 35px; 
        font-size: 20px; 
    }

    .login-form{
        width: 90%;
        margin: auto ;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        /* height: 70vh; */
    }
    .login-container{
        padding-top: 8rem;
        width: 100%;
        background-color: #eaeaea;
        height: 100vh;
        margin-top: 0;
    }
}